body { 
    background-color: orange;
    color: white;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
}
button {
    padding: 5px 20px;
    font-weight: 800;
    color: dimgray 
}
.answer{
    color: darkgreen
}
